@import "../../assets/css/mixins.scss";

.nav-container {
    width: 20%;
    margin: 20px 75px 20px 0;
    border: 1px;
    border-left: 0;
    border-style: solid;
    border-color: #444444;
    border-radius: 0 30px 30px 0;
}

@media only screen and (max-width: 768px) {
    .nav-container {
        width: 100%;
        margin: 20px;
        border: 1px solid #444444; 
        border-radius: 30px;
    }
}