.nav-logo {
    margin: 30px auto 20px 25px;
    img {
        height: 40px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
    .nav-logo {
        img {
            height: 25px;
        }
    }
}