@import "./assets/css/mixins.scss";

.App {
  display: flex;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
}

@media only screen and (max-width: 768px) {
  .App {
    flex-direction: column;
    overflow: hidden;
  }
}
